<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <TestSessionTimeout>1800000</TestSessionTimeout>
    <EnvironmentVariables>
      <!-- Set your local Godot path here -->
      <!-- macOS: /Applications/Godot_mono.app/Contents/MacOS/Godot -->
      <!-- Windows: C:\Program Files\Godot\Godot_v4.4.1-stable_mono_win64\Godot_v4.4.1-stable_mono_win64.exe -->
      <!-- Linux: /usr/local/bin/godot -->
      <GODOT_BIN>YOUR_GODOT_PATH_HERE</GODOT_BIN>
    </EnvironmentVariables>
  </RunConfiguration>
  <GdUnit4>
    <Parameters>"--headless"</Parameters>
  </GdUnit4>
</RunSettings>
